.details-wrapper{
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 10px  ;
}
.card-header img{
   width: 100%;
   height: 250px;
   object-fit: cover;
   border-radius: 10px;
}
.card-wrapper{
    width: 280px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
    padding: 10px;
    border-radius: 10px;
    position: relative;
    margin: 55px 65px;
}
.save-button, .add-detail{
    height: 40px;
    width: 100%;
    border: none;
    background-color: green;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.text-details{
    height: 80px;
    border-radius: 10px;
}

.add-detail{
    background-color:  #e0356b;
}
.action-wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
   top:20px;
   right: 20px;
   gap: 2px;
   visibility: hidden;
}
.card-wrapper:hover .action-wrapper{
    visibility: visible;
}

.edit,.delete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}
.edit:hover, .delete:hover{
    background-color: rgb(33, 33, 33);
    color: white;
}

