.dash-container{
    height: 60rem;
    border: none;
    background-image: url("./earth_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.dash-container .card img{
    height: 300px;
    width:700px ;
    position: absolute;
    right: 0;


}
.dash-container .card img:hover{
    opacity: 1;
}
