.dash-container{
    height: 60rem;
    border: none;
    background-image: url("./earth_image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
