.dash-container{

    border: 1px solid red;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 20px;
    justify-content: start;
}
.add-memories{
    height: 250px;
    width: 250px;
    border-radius: 4px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

