.header{
    background-color: #5078a6;
    padding:15px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 80px;
}

.header h1{
    color: #fff;
    font-family: "McLaren",cursive;
    font-weight: 200;
}
.tabs-li a{
    text-decoration: none;
    color: black;
}
.tabs-li a:hover{
    color: rgb(210, 203, 203);
}
.navbar{
    display: flex;
}
.tabs{
    display: flex;
    align-items: center;
    width: 500px;
    justify-content: space-around;
}

